{% extends "template.html" %}
{% block body %}
    <h1> Upload file</h1>
        <form method=post enctype=multipart/form-data>
        <p>
            <input type=file name=file>
            <input type=text name=tags>
            <input type=submit value=Upload>
        </p>

    </form>
{% endblock %}
