{% extends "template.html" %}
{% block script_source %}

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src={{url_for('static',filename='js/c3js/c3.min.js')}}></script>
<link href={{url_for('static',filename='js/c3js/c3.min.css')}} rel="stylesheet">
{% endblock %}
{% block body %}
    <h1> Spectra</h1>
    <div id = 'chart'></div>
    <svg></svg>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    var base_url = window.location.origin;
    spds = base_url +
           '/spectra/spds'
    var chart = c3.generate({
        bindto: '#chart',
        data: {
            url: spds,
            mimeType: 'json'
        }
    });
    </script>
{% endblock %}