<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        {% block script_source %} {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% block body %} {% endblock %}
        {% endwith %}
    </body>
    {% block script %} {% endblock %}

</html>